# 서버 구동용
fastapi
uvicorn
requests
# 데이터 처리 및 AI 용
pandas
numpy
chromadb
sentence-transformers
keybert
google-generativeai
torch
torchvision
torchaudio
tqdm
nltk
optuna
# 크롤링 용
wikipedia
yfinance
lxml
html5lib