version: '3.8'

services:
  backend:
    build: ./backend
    container_name: xtock-backend
    ports:
      - "8000:8000"
    volumes:
      - ./backend:/app
      - ./backend/chroma_db:/app/chroma_db
    environment:
      - GOOGLE_API_KEY=AIzaSyBaGz0l5rl4gPVd4zCgfizlrNa1H_F0z3I
    command: uvicorn main:app --host 0.0.0.0 --port 8000 --reload

  frontend:
    build: ./frontend
    container_name: xtock-frontend
    ports:
      - "3000:3000"
    volumes:
      - ./frontend:/app
      - /app/node_modules
    stdin_open: true
    tty: true
    depends_on:
      - backend