version: '3.8'

services:
  backend:
    build: ./backend
    container_name: xtock-backend
    ports:
      - "8000:8000"
    volumes:
      - ./backend:/app
      - ./backend/chroma_db:/app/chroma_db
    env_file:
      - .env
    command: uvicorn main:app --host 0.0.0.0 --port 8000 --reload

  frontend:
    build: ./frontend
    container_name: xtock-frontend
    ports:
      - "3000:3000"
    volumes:
      - ./frontend:/app
      - /app/node_modules
    stdin_open: true
    tty: true
    depends_on:
      - backend

  data-pipeline:
    build:
      context: ./data_pipeline
      dockerfile: Dockerfile
    container_name: xtock-pipeline
    volumes:
      - ./:/app
    env_file:
      - .env
    ports:
      - "8001:8000"
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              count: 1
              capabilities: [gpu]

  mongo-db:
    image: mongo:latest
    container_name: xtock-mongodb
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db
    networks:
      - default

volumes:
  mongo_data:           